 <html>
    <head>
        <title>DB Container Created</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Created DB Container</h1>
            </div>
            <div id="content">
                DB/Container name: <strong>{{dbname}}</strong><br />
                DB Username: <strong>{{dbuser}}</strong> <br />
                DB Password: <strong>{{dbuserpass}}</strong> <br />
                Owner:  <strong>{{owner}}</strong><br />
                Contact: <strong>{{contact}}</strong><br />
                Description: <strong>{{description}}</strong> <br />
                Memory Limit: <strong>{{memlimit}}</strong><br />
            </div>
            <div class="title">
                <h1>Command Output</h1>
            </div>
                <code><pre>
{{result}}
                </pre></code>
            <div class="title">
                <h1>Navigation</h1>
            </div>
                <ul>
                    <li><a href="{{ url_for('list') }}">List Database Conatiners</a></li>
                    <li><a href="{{ url_for('create_form') }}">Create Another Database Conatiner</a></li>
                    <li><a href="{{ url_for('cloudbackups') }}"><strong>List Database Backup Archives (S3)</strong></a></li>
                    <li><a href="{{ url_for('logout') }}"><strong>Log Out</strong></a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
