 <html>
    <head>
        <title>Postgres Database Container Listing</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Postgres Database Container Listing</h1>
            </div>
            <div id="content">
                <code><pre>
{{dbs}}
                </pre></code>
            <div class="title">
                <h1>Navigation</h1>
            </div>
                <ul>
                    <li><a href="{{ url_for('create_form') }}"><strong>Create a Database Conatiner</strong></a></li>
                    <li><a href="{{ url_for('cloudbackups') }}"><strong>List Database Backup Archives (S3)</strong></a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
